.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999;

    background: rgb(69,62,153);
    background: -moz-linear-gradient(95deg, rgba(69,62,153,1) 0%, rgba(95,133,242,1) 100%);
    background: -webkit-linear-gradient(95deg, rgba(69,62,153,1) 0%, rgba(95,133,242,1) 100%);
    background: linear-gradient(95deg, rgba(69,62,153,1) 0%, rgba(95,133,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#453e99",endColorstr="#5f85f2",GradientType=1); 

    transition: opacity 1s visibility 1s;
    -o-transition: opacity 1s visibility 1s;
    -moz-transition: opacity 1s visibility 1s;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
}

.fade {
    opacity: 0;
    visibility: hidden;
}

/* css loader */
.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}