#bg-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#pattern-bg,
#map {
    display: block;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

#pattern-bg {
    height: 40vh;
}

@media screen and (min-width: 600px) {
    #pattern-bg {
        height: 30vh;
    }
}